<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.commontime.cordova.kiosk" 
        ersion="1.0.2">
    
    <name>Kiosk</name>

    <asset src="www/kiosk.js" target="js/fileexport.js"/>
    
    <js-module src="www/kiosk.js" name="kiosk">
        <clobbers target="kiosk" />
    </js-module>
    
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Kiosk">
                <param name="android-package" value="com.commontime.plugin.Kiosk" />
            </feature>
        </config-file>
        
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            
            <!-- activity to use as launcher - because Cordova app is failing if started while boot -->
            <activity android:label="@string/activity_name" android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:keepScreenOn="true" android:name="com.commontime.plugin.HomeActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.HOME" />
                </intent-filter>
            </activity>
            
            <!-- inner activity, replacement of MainActivity with buttons blocked -->
            <activity android:label="Kiosk Activity" android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:keepScreenOn="true" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|uiMode" android:windowSoftInputMode="adjustResize" android:name="com.commontime.plugin.KioskActivity">
            </activity>

            <receiver android:label="@string/app_name" android:name="com.commontime.plugin.AdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
	            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin" />
	            <intent-filter>
	                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
	            </intent-filter>
	        </receiver>
                        
        </config-file>
        
        <source-file src="src/android/HomeActivity.java" target-dir="src/com/commontime/plugin/" />
        <source-file src="src/android/KioskActivity.java" target-dir="src/com/commontime/plugin/" />
        <source-file src="src/android/KioskPlugin.java" target-dir="src/com/commontime/plugin/" />
        <source-file src="src/android/AdminReceiver.java" target-dir="src/com/commontime/plugin/" />

        <resource-file src="src/android/device_admin.xml" target="res/xml/device_admin.xml" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
        </config-file>        
        
    </platform>
    
</plugin>
